/*Fuentes Personalizadas*/
@font-face {
    font-family: 'TrebuchetMS';
    src: url('../fonts/TrebuchetMS.ttf');
    font-weight: normal;
    font-style: normal;
}


*{
    margin: 0px;
    padding: 0px;
}


html {
    background-color: #000;
    background: url('../Medios/fondo.jpg');
    background-size: cover; /* Hace que la imagen de fondo cubra toda la página */
    color: #fff; 
    font-family: "TrebuchetMS";
}

.clearfix{
    float: none;
    clear: both
}

header {
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
}


.card {
    text-align: center;
    margin: 20px auto; /* Centrar horizontalmente */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.084); /* Fondo semi-transparente */
    border-radius: 10px;
    max-width: 300px; /* Ancho máximo de las tarjetas */
    transition: all 300ms;
}


.card:hover{
    padding: 40px;
}

.boton{
    padding: 5px;
    background-color: rgba(99, 26, 90, 0.37);
    color: #fff;
    border-radius: 5px; /* Ajusta el valor según el grado de curvatura que desees */
    cursor: pointer;
    margin-bottom: 5px;
}

.boton:hover {
    background-color: #c9bfe2; 
}

h3 {
    font-size: 40px;
    margin-bottom: 20px; /* Espacio entre el título y el reproductor */
}

audio {
    display: block;
    margin: 0 auto 20px; /* Centrar el reproductor horizontalmente */
}

#barraProgresoGatitaOnly,
#barraProgresoCancionDos,
#barraProgresoCancionTres,
#barraProgresoCancionCuatro,
#barraProgresoCancionCinco,
#barraProgresoCancionSeis{
    margin-top: 10px;
}

footer{
    text-align: center;
}