/*Fuentes Personalizadas*/
@font-face {
    font-family: 'TrebuchetMS';
    src: url('../fonts/TrebuchetMS.ttf');
    font-weight: normal;
    font-style: normal;
}


*{
    margin: 0px;
    padding: 0px;
}


html {
    background: url('../Medios/fondo.jpg');
    background-size: cover; /* Hace que la imagen de fondo cubra toda la página */
    background-position: center;
    color: #fff; 
    font-family: "TrebuchetMS";
}

.clearfix{
    float: none;
    clear: both
}

header {
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
}


.card {
    text-align: center;
    margin: 20px auto; /* Centrar horizontalmente */
    padding: 20px;
    background-color: rgba(104, 95, 95, 0.299); /* Fondo semi-transparente */
    border-radius: 10px;
    max-width: 300px; /* Ancho máximo de las tarjetas */
    transition: all 300ms;
    /*animation: cambiar 20s infinite linear;*/
}

/* @keyframes cambiar {
    0%{
        border: 10px solid #8080803d;
    }
    12%{
        border: 10px solid #98FF983d;
    }
    24%{
        border: 10px solid #40E0D03d;
    }
    36%{
        border: 10px solid #87CEEB3d;
    }
    48%{
        border: 10px solid #7A5DC73d;
    }
    60%{
        border: 10px solid #C8A2C83d;
    }
    72%{
        border: 10px solid #FFC0CB3d;
    }
    84%{
        border: 10px solid #8A2BE23d;
    }
    100%{
        border: 10px solid #8080803d;
    }
} */


.card:hover{
    padding: 40px;
}

.boton{
    padding: 5px;
    background-color: rgba(184, 42, 167, 0.599);
    color: #fff;
    border-radius: 5px; /* Ajusta el valor según el grado de curvatura que desees */
    cursor: pointer;
    margin-bottom: 5px;
    box-shadow: 1px 2px 6px 1px rgba(118, 15, 106);
    border-color: rgba(118, 15, 106);
}


.boton:hover {
    background-color: #c9bfe2; 
}

h3 {
    font-size: 40px;
    margin-bottom: 20px; /* Espacio entre el título y el reproductor */
}

audio {
    display: block;
    margin: 0 auto 20px; /* Centrar el reproductor horizontalmente */
}

#barraProgresoGatitaOnly,
#barraProgresoCancionDos,
#barraProgresoCancionTres,
#barraProgresoCancionCuatro,
#barraProgresoCancionCinco,
#barraProgresoCancionSeis{
    margin-top: 10px;
}

footer{
    text-align: center;
}